/*For PC*/
@media only screen 
	and (min-width: 1024px)
	and (max-device-width: 1600px) {
	
	.menyMob {
		display: none;
	}
	
	header {
	   width: 100%;
	   position: fixed;
	   background-color: black;
	   border: 1px solid black;
	   z-index: 10;
	   padding-top: 0px;
	   margin-top: 0px;
	   margin-left: 0px;
	   top: 0px;
	   left: 0px;

	}

	ul.menyul {
	   margin: 30px auto;
	   padding: 0 10px;
	   text-align: center;
	}

	li.menyli {
	   color: white;
	   font-family: Cambria, Georgia, serif;
	   font-size: 30px;
	   font-weight: 250;
	   text-transform: uppercase;
	   display: inline-block;
	   width: 80%;
	   display: inline;
	   padding: 60px;
	   text-align: center;
	}

	a.kontoLink:link {color: white; text-decoration: none;}
	a.kontoLink:visited {color: white; text-decoration: none;}
	a.kontoLink:hover {color: white; text-decoration: none;}
	a.kontoLink:active {color: white; text-decoration: none;}

	a.kalenderLink:link {color: white; text-decoration: none;}
	a.kalenderLink:visited {color: white; text-decoration: none;}
	a.kalenderLink:hover {color: white; text-decoration: none;}
	a.kalenderLink:active {color: white; text-decoration: none;}

	a.fagLink:link {color: white; text-decoration: none;}
	a.fagLink:visited {color: white; text-decoration: none;}
	a.fagLink:hover {color: white; text-decoration: none;}
	a.fagLink:active {color: white; text-decoration: none;}

	a.meldingerLink:link {color: white; text-decoration: none;}
	a.meldingerLink:visited {color: white; text-decoration: none;}
	a.meldingerLink:hover {color: white; text-decoration: none;}
	a.meldingerLink:active {color: white; text-decoration: none;}

	a.hjemLink:link {color: white; text-decoration: none;}
	a.hjemLink:visited {color: white; text-decoration: none;}
	a.hjemLink:hover {color: white; text-decoration: none;}
	a.hjemLink:active {color: white; text-decoration: none;}


	.main1 {
	   margin: 150px auto;
	   border: solid 3px black;
	   width: 950px;
	   height: auto;
	   background-color: #dddddd;
	}
	
	.ramme1 {
	   display: grid;
	   grid-template-columns: 600px 200px;
	   margin-left: 30px;
	   grid-column-gap: 40px;
	   grid-row-gap: 30px;
	}
	
	.innhold1 {
	   border: solid 3px black;
	   width: 142%;
	   height: auto;
	   margin-bottom: 30px;
	   padding: 10px; 		
	}
	
	.innhold1 p {
	   text-align: center;
	}
	
	img {
		display: block;
		margin-left: auto;
		margin-right: auto; 
		width: 200px;
		height: 200px; 
	}
	
	form {
		text-align: center; 
	}

	h1, h2, h3, h4, h5.txtMidt, p{
	   text-align: center;
	}
	
	h2 {
		text-decoration: underline; 
	}
	
	ol, ul.midtTxt {
	   width: 30%;
	   margin: auto;
	   margin-bottom: 20px;
	}
}

/*For mobil*/
@media screen and (max-width: 425px) {
	.meny {
		display: none;
	}
	
	ul.menyul {
		display: none;
	}
	
	li.menyli {
		display: none;
	}
	
	header {
		display: none;
	}
	
	.menybtn {
		background-color: black;
		color: white;
		padding: 16px;
		width: 100%;
		font-family: Cambria, Georgia, serif;
		font-size: 5vw;
		font-weight: 250;
		text-transform: uppercase;
		border: none;
		cursor: pointer;
	}

	.menybtn:hover, .menybtn:focus {
		background-color: black;
	}

	.mobmeny {
		display: inline-block;
	}

	.mobmeny-content {
		display: none;
		position: absolute;
		background-color: #f1f1f1;
		min-width: 98%;
		box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
		z-index: 1;
		overflow: auto;
	}

	.mobmeny-content a {
		color: black;
		background-color: white;
		padding: 12px 16px;
		font-family: Cambria, Georgia, serif;
		font-weight: 250;
		text-align: center;
		text-transform: uppercase;
		text-decoration: none;
		display: block;
	}

	.show {
		display: block;
	}

	.main1, .main2 {
	   margin-top: 50px;
	   margin-left: 20px;
	   margin-right: 20px;
	   border: solid 3px black;
	   width: auto;
	   height: auto;
	   background-color: #dddddd;
	}
	
	.ramme1 {
	   display: grid;
	   grid-template-columns: 600px 200px;
	   margin-left: 30px;
	   grid-column-gap: 40px;
	   grid-row-gap: 30px;
	}
	
	.innhold1 {
	   border: solid 3px black;
	   width: 30%;
	   height: auto;
	   margin: 30px 10px;
	   padding: 5px; 	
	}
	
	.innhold1 p {
	   text-align: center;
	}
	
	img {
		display: block;
		margin-left: auto;
		margin-right: auto; 
		width: 80px;
		height: 80px; 
	}
	
	form {
		text-align: center; 
	}

	h1, h2, h3, h4, h5.txtMidt, p{
	   text-align: center;
	}
	
	h2 {
		text-decoration: underline; 
	}
	
	ol, ul.midtTxt {
	   width: 30%;
	   margin: auto;
	   margin-bottom: 20px;
	}

}

@media only screen
		and (min-width: 426px)
		and (max-device-width: 1023px) {
	.meny {
		display: none;
	}
	
	ul.menyul {
		display: none;
	}
	
	li.menyli {
		display: none;
	}
	
	header {
		display: none;
	}
	
	.menybtn {
		background-color: black;
		color: white;
		padding: 16px;
		width: 100%;
		font-family: Cambria, Georgia, serif;
		font-size: 5vw;
		font-weight: 250;
		text-transform: uppercase;
		border: none;
		cursor: pointer;
	}

	.menybtn:hover, .menybtn:focus {
		background-color: black;
	}

	.mobmeny {
		display: inline-block;
	}

	.mobmeny-content {
		display: none;
		position: absolute;
		background-color: #f1f1f1;
		min-width: 98%;
		box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
		z-index: 1;
		overflow: auto;
	}

	.mobmeny-content a {
		color: black;
		background-color: white;
		padding: 12px 16px;
		font-family: Cambria, Georgia, serif;
		font-weight: 250;
		text-align: center;
		text-transform: uppercase;
		text-decoration: none;
		display: block;
	}

	.show {
		display: block;
	}

	.main1, .main2 {
	   margin-top: 50px;
	   margin-left: 20px;
	   margin-right: 20px;
	   border: solid 3px black;
	   width: auto;
	   height: auto;
	   background-color: #dddddd;
	}
	
	.ramme1 {
	   display: grid;
	   grid-template-columns: 600px 200px;
	   margin-left: 30px;
	   grid-column-gap: 40px;
	   grid-row-gap: 30px;
	}
	
	.innhold1 {
	   border: solid 3px black;
	   width: 30%;
	   height: auto;
	   margin: 30px auto;
	   padding: 10px; 	
	}
	
	.innhold1 p {
	   text-align: center;
	}
	
	img {
		display: block;
		margin-left: auto;
		margin-right: auto; 
		width: 80px;
		height: 80px; 
	}
	
	form {
		text-align: center; 
	}

	h1, h2, h3, h4, h5.txtMidt, p{
	   text-align: center;
	}
	
	h2 {
		text-decoration: underline; 
	}
	
	ol, ul.midtTxt {
	   width: 30%;
	   margin: auto;
	   margin-bottom: 20px;
	}

}